#userMenu ul
{
    display: none;
    position: absolute;
}
#userMenu:hover ul
{
   display: block;
}
#userMenu:hover ul li
{
    display: block;
    width: 100%;
}
body
{
   font-family: 'Arimo', sans-serif;
   font-size: 18px;
   margin: 0;
}
a
{
   text-decoration: none;
   color: black;
}
header
{
   background: url("back.jpg");
   margin: 0;
   padding: 1px;
   font-size: 3em;
   color: white;
   font-family: 'Roboto Slab', serif;
}
header p
{
   margin-left: 15px;
   margin-top: 10px;
   margin-bottom: 10px;
}
img
{
   margin-right: 10px;
   margin-bottom: -15px;
}
table
{
   width: 100%;
   border-collapse: collapse;
   margin-bottom: 2%;
   margin-top: 3px;
}
td
{
   text-align: center;
   border: 1px solid black;
   background-color: rgb(39, 170, 226);
}
#col1
{
   width: 20%;
}
#userMenu
{
   width: 20%;
   position: relative;
}
#col3
{
   width: 20%;
}
td ul
{
   padding: 0;
   margin: 0;
   list-style: none;
   position: relative;
}
td ul li a
{
   display: block;
   padding: 10px;
   border: 1px solid black;
   border-bottom: none;
   height: 50px;
   background-color: rgb(39, 170, 226);
}
#getUsersList
{
   border-bottom: 1px solid black;
}
#col1:hover, #col3:hover
{
   background-color: rgb(29, 117, 189);
}
td ul li a:hover
{
   background-color: rgb(29, 117, 189); 
}
#information td, #addingBook td, #formSearch td, #registration table td
{
   background-color: white;
}
#siteHead, #siteHead a
{
   font-size: 1.15em;
   color: white;
}